{% extends 'base.html.twig' %}

{% block title %}
    Zeilschool De Waai
{% endblock %}

{% block body %}
    <div class="row no-gutters mt-3">
        {# Begin boat section #}
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-7 bg-white p-3">
            <div class="boat-block">
                <h1>Hendrica</h1>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mb-2">
                        <img class="img-fluid rounded" src="../assets/img/hendrica.jpg" alt="Hendrica zeilboot">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                        <p>De houten zestienkwadraat is nog steeds een populaire wedstrijdklasse. Het is de grootste nationale wedstrijdklasse. Aan kampioenschappen doen tegenwoordig tussen 50 - 70 schepen mee. Inmiddels worden de boten ook vaak van polyester gebouwd, omdat dat goedkoper is en omdat ze veel minder gevoelig zijn voor onderhoud.</p>
                    </div>
                </div>
            </div>
            <div class="boat-block">
                <h1>Hendrica</h1>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mb-2">
                        <img class="img-fluid rounded" src="../assets/img/hendrica.jpg" alt="Hendrica zeilboot">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                        <p>De houten zestienkwadraat is nog steeds een populaire wedstrijdklasse. Het is de grootste nationale wedstrijdklasse. Aan kampioenschappen doen tegenwoordig tussen 50 - 70 schepen mee. Inmiddels worden de boten ook vaak van polyester gebouwd, omdat dat goedkoper is en omdat ze veel minder gevoelig zijn voor onderhoud.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 p-3">
            <div class="registration-block p-3 rounded">
                <h1>Registreer om in te schrijven voor een cursus!</h1>
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.gender, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.birthDate, {'attr': {'class': 'form-control birthdate-picker'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.address, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.zipcode, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.phone, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.mail, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group text-right">
                        {{ form_row(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}